@import "src/styles/base-config";

body {
  font-family: Arial, sans-serif, serif;
  background-color: #eeeeee;
}

.page-container {
  display: flex;
  padding: $base-size * 3 $base-size * 10;
  max-width: 1300px;
  margin: 0 auto;
}

.content-container {
  padding-right: $base-size * 5;
  padding-left: $base-size * 5;
  font-size: $base-size * 2;
  background-color: #ffffff;
}

.article {
  .crossed-text {
    text-decoration: line-through;
  }
  .italic {
    font-style: italic;
  }
}


